<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- get the fonts -->
    <%- include("layout/fontFamily")%>
    <!-- get the page title -->
    <title><%= pageTitle %></title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/css/styles.css" />
  </head>
  <body>
    <section class="container">
      <h1>Grocery Bud</h1>
      <%- include("layout/form") %>
      <ul class="grocery_list">
        <%groceryItems.forEach(item=>{%>
        <li class="grocery_item">
          <%if(item.itemName.length<=35){%>
          <p><%=item.itemName%></p>
          <% }else{%>
          <div class="item_name">
            <p class="name"><%=item.itemName.slice(0,35)%></p>

            <p class="dots">...</p>
          </div>
          <%}%>

          <span class="icons">
            <i class="bx bxs-edit edit_icon icon"></i
            ><i class="bx bxs-trash-alt delete_icon icon"></i
          ></span>
        </li>
        <%})%>
      </ul>
    </section>
  </body>
</html>
